.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


/*button rgb(240, 90, 51)*/
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
 
  min-width: 100%;
  min-height: 900px;
  margin:0;
  padding:0;
}

 h1 { 
  
  color: white;
  font-size: 8em;
  margin-top:5%; 
}

/* this is the root div where we will render our App */
#root{
  min-height: 1000px;
  margin:0 !important;
  padding:0 !important;
}
/* contains navbar and Big Title  */
#headerContainer{
  min-height: 500px;
margin:0;
padding: 10px 50px;
  background-color:rgb(44, 49, 69);
}
#SearchEmployees{
 
  background-color: rgb(99, 80, 209);
  margin-top:-140px;
  padding: 10px;
  min-height: 400px;
  padding-top:10px ;
  
}
#searcharea{
  background-color: rgb(31, 42, 58);
  min-height: 80px;
}
.center-block{
  float:none !important;
}

/* you can use col-center with col ex = col-md-10 to center the column */
/* .col-center{
  float:none;
  margin: auto;
} */

/* Header Style  */
.navbar{
  
      background-color: transparent;
      border-style: none;
  } 
  
ul.nav li a, ul.nav li a:visited {
    color:rgb(206, 202, 202) !important;
}
ul.nav li a:hover {
  color: rgb(238, 235, 235) !important;
}
.navbar-brand{
  color:white !important;
}

/* End Header.js Style  */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top:20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color:black
}

tr:nth-child(even) {
  background-color: #dddddd;
}